@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}